.show {
  display: block;
}

.hide {
  display: none;
}

/* .active {
  color: rgb(226, 226, 226);
} */

.detail-multi-line ul {
  list-style-type: disc;
}

.detail-multi-line table {
  width: 100%;
  margin-left: -1.5rem;
}

.detail-multi-line thead tr {
  background-color: #333;
  color: #ffffff;
  text-align: left;
}

.detail-multi-line th,
.detail-multi-line td {
  padding: 12px 15px;
}

.detail-multi-line tr {
  border-bottom: 1px solid #dddddd;
}
.detail-multi-line tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.detail-multi-line tr:last-of-type {
  border-bottom: 2px solid #999;
}

.hero-section {
  background: linear-gradient(90deg, #4797ff 0%, #3e77ad 100%);
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  width: 50px;
  height: 50px;
}
.spinner .path {
  stroke: #0099e0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
